<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Impuestos</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    <div class="starter-template">
        <h1><span th:text="#{empresa}" /></h1>
        <h2><span th:text="#{impuesto.editar.titulo}" /></h2>
    </div>
    
    <form th:action="@{/impuestosEditar}" th:object="${formBean}" method="post">
        <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
        <input type="hidden" id="editando" th:field="*{editando}">
		<input type="hidden" id="id" th:field="*{id}">
        <table border="1" style="align-self: center;">
            <tr>
                <td><label th:text="#{impuesto.iva}" /></td>
                <td><input type="number" step="0.01" th:field="*{porcentajeIva}" required></td>
            </tr>
            <tr>
                <td><label th:text="#{impuesto.tasaNac}" /></td>
                <td><input type="number" step="0.01" th:field="*{montoTasaNacional}" required></td>
            </tr>
            <tr>
                <td><label th:text="#{impuesto.tasaInt}" /></td>
                <td><input type="number" step="0.01" th:field="*{montoTasaInternacional}" required></td>
            </tr>
            <tr>
                <td><label th:text="#{impuesto.dolar}" /></td>
                <td><input type="number" step="0.01" th:field="*{cotizacionDolar}" required></td>
            </tr>
            <tr>
	            <td><label th:text="#{vuelo.vuelo}" /></td>
	            <td>
			        <select th:field="*{idVuelo}">
					  <option th:each="c : ${allVuelos}" 
					          th:value="${c.id}" 
					          th:text="${c.codigo} + '  -  '+ ${c.fechaYHora}"></option>
					</select>
				</td>
			</tr>
        </table>
        <table class="botones">
		 	<tr>
		    	<td><input type="submit" name="action" value="Aceptar" /></td>
		    	<td><input type="submit" name="action" value="Cancelar" /></td>
		  	</tr>
			<div th:if="${#fields.hasErrors('global')}">
			    <h3>Errores:</h3>
			    <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
			</div>

    </table>
       
    </form>
</body>
</html>
