<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Gestionar Vuelos</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
	<div class="container text-center">
		<h1><span th:text="#{empresa}" /></h1>
		<h2>
			<span th:text="#{vuelo.buscar.titulo}"></span>
		</h2>
		<form th:action="@{/vueloBuscar}" th:object="${formBean}" method="post">

			<p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
			<table border="0" style="align-self: center;">

				<tr>
					<td><label th:text="#{vuelo.codigo}" /></td>
					<td><input type="text" th:field="*{codigo}" /></td>
					<td><label>*vacio busca todos los vuelos</label></td>
				</tr>
			</table>
			</br>
			<table class="botones">
				<tr>
					<td><input type="submit" name="action" value="Buscar" /></td>
					<td><input type="submit" name="action" value="Cancelar" /></td>
					<td><input type="submit" name="action" value="Registrar" /></td>
				</tr>
			</table>

			<table class="table table-bordered table-striped mt-4">
				<thead th:if="${not #lists.isEmpty(resultados)}">
					<tr>
						<th>Código</th>
						<th>Fecha Hora</th>
						<th>Precio</th>
						<th>Tipo de Vuelo</th>
						<th>Avión</th>
						<th>Origen</th>
						<th>Destino</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${resultados}">
						<td th:text="${{p.codigo}}"></td>
						<td th:text="${{p.fechaYHora}}"></td>
						<td th:text="${{p.precioPasaje}}"></td>
						<td th:text="${{p.tipoVuelo}}"></td>
						<td th:text="${{p.Aeronave.modelo}}"></td>
						<td th:text="${{p.origen.nombre}}"></td>
						<td th:text="${{p.destino.nombre}}"></td>
						<td>
							<div class="btn-group">
								<a th:href="@{/vueloEditar/{id}(id=${p.id})}" class="btn btn-primary">
									Editar
								</a>
								<a th:href="@{/vueloEditar/delete/{id}(id=${p.id})}" class="btn btn-danger">
									Eliminar
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>

	<!-- Bootstrap JS y Popper.js (opcional) para funcionalidades avanzadas -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>